h5{
    text-align: center;
}

.card-title{
    font-size: 40px;
}
.card{
    border: none;
    font-size: 30px;
    text-align: center;
    border-bottom: 3px solid black;

}
.bike-img{
 height: 100%;
 width: 100%;
 background-image: url("../img/Elliston_Deli.jpg");
 background-attachment: fixed;
 background-repeat: no-repeat;
}
.board-image{
 height:100%;
 width: 100%;
 background-image: url("../img/skate_boards.jpg");
 background-attachment: fixed;
}
