h5{
    text-align: center;
}

.hero-img{
    width: 100%;
    height: 109%;
    background-image: url('../img/inside_ride_shop.jpeg');
    background-color: white;
    /* padding-top: 10%;  */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size:cover;
    /* margin-bottom: 0; */
    padding: 0;
    /* -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); */
}

.card-title{
    font-size: 40px;
}
.card:after {
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 50%; /* Change this to whatever width you want. */
    padding-top: 20px; /* This creates some space between the element and the border. */
    border-bottom: 1px solid black; /* This creates the border. Replace black with whatever color you want. */
}
.card{
   border:none;
    font-size: 30px;
    text-align: center;
   

}
.bike-img{
 height: 100%;
 width: 100%;
 background-image: url("../img/Elliston_Deli.jpg");
 background-attachment: fixed;
 background-repeat: no-repeat;
 background-size: cover;
 -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
 clip-path: polygon(0 10%, 100% , 100% 85%, 100% 100%);
 margin-top: -5%;
}
.board-image{
 height:100%;
 width: 100%;
 background-image: url("../img/ride_shop_boards.jpg");
 background-attachment: fixed;
 background-repeat: no-repeat;
 background-size: cover;
}
.parts-img{
    height: 100%;
    width: 100%;
    background-image: url("../img/parts_acc.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.life-style{
    height: 100%;
    width: 100%;
    background-image: url("../img/walking_state_colors.jpeg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.text-box{
    text-align: center;
    height: auto;
    width: 50%;
    background-color: rgb(11, 151, 156);
    opacity: 80%;
    font-size: 35px;
    position: relative;
    top: 50%;
    left: 40%;
    
    
}
        @media only screen and (max-width: 800px) {
           .life-style, .bike-img, .parts-img, .board-image {
               background-size: 100%;
               height: 50%;
               background-attachment: scroll;
           }
           .hero-img{
            background-size: 200%;
            height: 100%;
            background-attachment: fixed;
           }
        }