.contact-img{
    width: 100%;
    height: 100%;
    background-image: url('../img/contact_us.jpeg');
    background-color: white;
    /* padding-top: 10%;  */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size:cover;
    margin: 0;
    padding: 0;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

@media only screen and (max-width: 750px){
    .contact-img{
        height: 100%;
        background-attachment: scroll;
    }
}