/* font-family: 'Amatic SC', cursive;
font-family: 'Architects Daughter', cursive;
font-family: 'Rajdhani', sans-serif; */


.hero-gallery{
    width: 100%;
    height: 100%;
    background-image: url('../img/gallery_Image.jpeg');
    background-color: white;
    /* padding-top: 10%;  */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size:cover;
    /* margin-bottom: 0; */
    padding: 0;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.content{
width: 100%;
height: auto;
border-style: solid;
border-radius: 5px;
border-color: black;
}
.photo-content{
width: 100%;
height: auto;
background-color: black;
}
.home-content{
    margin-top: 10%;
}
a{
    color: white;
}
.card-title{
    text-align: center;
    /* font-family: 'Amatic SC', cursive; */
    font-weight: bolder;
    /* font-family: 'Architects Daughter', cursive; */
}
.card-text{

font-family: 'Rajdhani', sans-serif;


}

@media only screen and (max-width: 750px){
    .hero-gallery{
        height: 100%;
        background-attachment: scroll;
    }
}