/* font-family: 'Amatic SC', cursive;
font-family: 'Architects Daughter', cursive;
font-family: 'Rajdhani', sans-serif; */


.content{
width: 100%;
height: auto;
border-style: solid;
border-radius: 5px;
border-color: black;
}
.photo-content{
width: 100%;
height: auto;
background-color: black;
}
.home-content{
    margin-top: 10%;
}
a{
    color: white;
}
.card-title{
    text-align: center;
    /* font-family: 'Amatic SC', cursive; */
    font-weight: bolder;
    /* font-family: 'Architects Daughter', cursive; */
}
.card-text{

font-family: 'Rajdhani', sans-serif;


}