

.hero-gallery{
    width: 100%;
    height: 109%;
    background-image: url('../img/gallery_Image.jpeg');
    background-color: white;
    /* padding-top: 10%;  */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:center;
    background-size:cover;
    /* margin-bottom: 0; */
    padding: 0;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}
img{
    width: 100%;
    height: auto;
}
@media only screen and (max-width: 750px) {
  
    .hero-gallery{
        background-position: 70% 10% ;
        background-attachment: scroll;
        height: 100%;
    }
 }