/* font-family: 'Amatic SC', cursive;
font-family: 'Architects Daughter', cursive;
font-family: 'Rajdhani', sans-serif; */

html,body{
    margin: 0;
    padding: 0;
    height: 100%;   
    /* overflow: hidden; */
}
.title{
    /* text-align: center; */
    width:25%;
    position: absolute;
    top: 7%;
    left: 0%;  
    color: rgb(46, 20, 20)  
}
a{
    color: rgb(238, 228, 228);
    margin-left: 15px;
    margin-right: 15px;
}
.logo{
 width: 50%;
 position: absolute;
 top: 10%;
 left: 1%;
} 
.show{
    display:none;
}
.nav-link .nav-item
{
    color: rgb(218, 101, 101);
}
img{
    width: 100%;
    height: 100%
}
.hero-img{
    width: 100%;
    height: 100%;
    background-image: url('../img/storefront.jpeg');
    background-color: white;
    /* padding-top: 10%;  */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size:cover;
    margin: 0;
    padding: 0;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

    ul{
        margin: 0;
        padding: 0;
    }
    .map-box{
        width: 40%;
        height: 40%;
        background-color: black;
        margin: auto;

    }
    .footer {
        
        /* position: fixed;
        left: 0;
        bottom: 0; */
        width: 100%;
        font-size: 32px;
        background-color: grey ;
        color: cadetblue;
        text-align: left;
        margin: 0;
        padding: 0;
     }
     h5{
         margin: 0;
     }
    
@media only screen and (max-width: 900px) {
    .hero-img{
        height: 100%;
    }
}

@media only screen and (max-width: 800px) {
    
    .hide{
        display: none;
    }
    .show{
        display: block;
        width: 20%;
    }
    .map-box{
        width: 100%;
        height: 60%;
    }
   
  }